<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Course</title>
</head>
<body>
    <h1>Add Course</h1>
    <form action="/<%=getResult.id%>/courses/add" method="post">
        <p>Title Name: <br>
        <input type="text" name="name">
        </p>
        <p>Duration: <br>
        <input type="number" name="duration">
        </p>
        <p>Description: <br>
        <textarea name="description" cols="30" rows="10"></textarea>
        </p>
        <p>Link Video: <br>
        <textarea name="videoUrl" id="" cols="30" rows="10"></textarea>
        </p>
        <p>
            <input type="submit" value="add course">
        </p>
    </form>
</body>
</html>  