<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
</head>
<body>
    <a href="/logout">Log Out</a>
    <br>
    <h3>What kind of Category you want to add?</h3>

    <form action="/category/add" method="post">
        <p>Category Name: <br>
        <input type="text" name="name" placeholder="name category">
        </p>
        <p>
            <input type="submit" value="Add">
        </p>
    </form>
</body>
</html>