<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
</head>
<body style="display: flex; flex-direction: column; align-items: center;">
    <a href="/logout">Log Out</a>
    <br>
    <h1><%=getResult.name%></h1>
    <iframe src="<%=getResult.videoUrl%>" frameborder="0"></iframe>
    <table border="1" style="width: 50%;">
        <td><%=getResult.description%></td>
    </table>
</body>
</html>