<!DOCTYPE html>
<html lang="en-us">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>HacktivSkillUp</title>

	

</head>

<body>

	<h1>Sign Up</h1>

	<br>
	<br>

	<form action="/signup" method="post">
		<label for="name">Name</label>
            <br>
            <input type="text" id="name" name="name">
            <br>
            <br>

			<label for="gender">Gender</label>
            <br>
            <input type="radio" id="gender" name="gender" value="male">
            <label for="male">Male</label>
            <input type="radio" id="gender" name="gender" value="female">
            <label for="female">Female</label>
            <br>
            <br>

			<label for="birthDate">Date of Birth</label>
            <br>
			<input type="date" name="birthDate" placeholder="dd-mm-yyyy" min="1800-01-01">
			<br>
            <br>

			<label for="phoneNumber">Phone Number</label>
            <br>
            <input type="tel" id="phoneNumber" name="phoneNumber">
            <br>
            <br>

			<label for="username">Username</label>
            <br>
            <input type="text" id="username" name="username">
            <br>
            <br>

			<label for="role">Role</label>
            <br>
            <input type="radio" id="role" name="role" value="student">
            <label for="student">Student</label>
            <input type="radio" id="role" name="role" value="administrator">
            <label for="administrator">Administrator</label>
            <br>
			<br>

            <label for="email">Email</label>
            <br>
            <input type="email" id="email" name="email">
            <br>
			<br>

			<label for="password">Password</label>
            <br>
            <input type="password" id="password" name="password">
            <br>
            <br>

            <br>
            <button type="submit">Submit</button>
	</form>
	
</body>

</html>