<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hacktiv-SkillsUp</title>
</head>
<body>
    <a href="/logout">Log Out</a>
    <br>
    <h1>Hacktiv Skills Up!</h1>

    <form action="/student" method="get" style="margin-bottom: 20px;">
        <input type="text" name="search">
        <input type="submit" value="search">
    </form>
    <table border="1">
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% result.forEach((e, i) => {%>
                <tr>
                    <td><%=i+1%></td>
                    <td><%=e.name%></td>
                    <td>
                        <a href="/student/<%=e.id%>"><button>Detail</button></a>
                    </td>
                </tr>
            <%})%>
        </tbody>
    </table>
</body>
</html>